{% extends "template_one.html" %}
{% block title %} Add Games {% endblock %}
{% block content %}
<h1> Add Games </h1>
<div>
    <form action="/ViewGames/AddGames/Add_Game" method="POST">
        <div class="form-group row">
            <label class="control-label" for="Id" id="Id"> Id: </label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="Id" id="Id" value="{{ uuid }}" readonly>
            </div>
    
            <label class="control-label" for="game_name" id="game_name"> Game Name: </label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="game_name" id="game_name" placeholder="Enter Game Name...">
            </div>
            <div id="group_content"></div>
        </div>
        <button class="btn btn-outline-dark" type="button" id="add_group" onclick="addGroup()"> Add Group </button>
        <br>
        <br>
        <button class="center_object btn btn-outline-primary" type="submit"> Submit </button>
    </form>
    
    <script>
        var content = document.getElementById("group_content");
        var group_count = 0;
    
        function addGroup() {
            group_count++;
            var new_group_string = `
                <div style="margin-left:5%;" id="group_${group_count}">
                    <br>
                    <h2> Group ${group_count} </h2>
    
                    <label class="control-label" for="group_id_"> Id: </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="group_id[]" id="group_id_${group_count}" value="group${group_count}{{uuid}}" readonly>
                    </div>
    
                    <label class="control-label" for="group_name_${group_count}"> Group Name: </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="group_name[]" id="group_name_${group_count}" placeholder="Enter Group Name...">
                    </div>
                    <br>
                    <button class="btn btn-outline-dark" type="button" onclick="addMember(${group_count})"> Add Member </button>
                    <div id="members_${group_count}"></div>
                </div>
            `;
            content.innerHTML += new_group_string;
            console.log(new_group_string);
        }
    
        function addMember(group_id) {
            var member_count = document.querySelectorAll(`#members_${group_id} .member`).length + 1;
            var new_member_string = `
                <div class="member" style="margin-left:7%;" id="member_${group_id}_${member_count}">
                    <h3> Member ${member_count} </h3>
                    <br>
                    <label class="control-label" for="member_name_${group_id}_${member_count}"> Member Name: </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="member_name[${group_id}][]" id="member_name_${group_id}_${member_count}" placeholder="Enter Member Name...">
                    </div>
                    <br>
                    <label class="control-label" for="sound_id_${group_id}_${member_count}"> Select Sound: </label>
                    <div class="col-sm-10">
                        <select class="form-control" name="sound_id[${group_id}][]" id="sound_id_${group_id}_${member_count}">
                            {% for sound in sounds %}
                                <option value="{{ sound.id }}"> {{ sound.Sound_Name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                </div>
            `;
            document.getElementById(`members_${group_id}`).innerHTML += new_member_string;
            console.log(new_member_string);
        }
    </script>
    
{% endblock %}
