{% extends "template_one.html" %}
{% block title %} Current Events {% endblock %}

{% block content %}

<div>
   <form method="post">
        <div class="form-group row">
            <label class="col-sm-2 control-label" style="text-align: right;"> ID </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly value="@id" style="width:100%;">
            </div>
            <span class="text-danger"></span>
        </div>

        <br>
        <div class="form-group row">
            <label class="col-sm-2 control-label" style="text-align: right;"> Event Name </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter Event Name Here" style="width:100%;">
            </div>
            <span class="text-danger"></span>
        </div>

        <br>
        <div class="form-group row">
            <label class="col-sm-2 control-label" style="text-align: right;"> Event Description </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter Event Description" style="width:100%;">
            </div>

            <span class="text-danger"></span>
        </div>

        <br>
        <div class="form-group row">
            <label class="col-sm-2 control-label" style="text-align: right;"> Event Location </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter Event Location" style="width:100%;">
            </div>

            <span class="text-danger"></span>
        </div>

        <br>
        <div class="form-group row">
            <label class="col-sm-2 control-label" style="text-align: right;" > Event Date </label>
            <div class="col-sm-10">
                <input type="date" class="form-control" placeholder="Enter Event Name Here..." style="width:100%;">
            </div>
            <span class="text-danger"></span>
        </div>

        <br>
        <button type="submit" class="btn btn-outline-primary" style="display: block; margin-left: auto; margin-right: auto;"> Submit </button>
    </form>
</div>

{% endblock %}